@media (min-width: 780px) and (max-width: 1079px){
    /* HEADER */
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo-brand{
       color: #ffffff;
    }
    .menu-list{
        display: flex;
        gap: 20px;
    }
    .menu-list a{
        font-size: 14px;
        font-weight: 500;
        text-decoration: none;
        color: #ffffff;
    }
    .hamburger, .close-btn{
        display: none;
    }
    .home-content{
        position: relative;
        width: 100%;
        height: 100vh;
        box-sizing: border-box;
    }
    .home-page{
        border-radius: 10px;
        margin: 15px;
        padding: 10px 20px 25px;
        background: linear-gradient(324deg,#0a0a0a,#0c0c0c,#f5f4f4);
        background-size: 180% 180%;
        animation: gradient-animation 37s ease infinite;
    }
    @keyframes gradient-animation {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
    }
    .home-name{
        color: #ffffff;
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 50px;
        line-height: 85px;
    }
    .home-scroll{
        color: #ffffff;
        position: absolute;
        bottom: 20px;
        right: 50px;
        font-size: 14px;
    }
    .home-arrow{
        position: absolute;
        bottom: 60px;
        right: 20px;
    }
    /* ARROW */
    .arrow {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transform: rotate(0deg);
        cursor: pointer;
    }
    .arrow span {
        display: block;
        width: 1vw;
        height: 1vw;
        border-bottom: 5px solid white;
        border-right: 5px solid white;
        transform: rotate(45deg);
        margin: -10px;
        animation: animate 2s infinite;
    }
    .arrow span:nth-child(2) {
        animation-delay: -0.2s;
    }
    .arrow span:nth-child(3) {
        animation-delay: -0.4s;
    }
    @keyframes animate {
        0% {
            opacity: 0;
            transform: rotate(45deg) translate(-20px, -20px);
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            transform: rotate(45deg) translate(20px, 20px);
        }
    }
    /* ABOUT PART */
    .about-page{
        margin: 15px 35px 25px;
        display: flex;
        justify-content: center;
    }
    .about-name{
        font-size: 50px;
        width: 100%;
    }
    .about-content{
        padding: 20px;
        width: 100%;
    }
    .about-description{
        width: 80%;
        font-size: 14px;
        font-weight: 600;
        padding-bottom: 10px;
        color: #000000;
    }
    .about-text{
        width: 80%;
        font-size: 14px;
        font-weight: 500;
        padding-bottom: 20px;
        color: #000000;
    }
    .about-content img{
        width: 70%;
        border-radius: 5px;
    }
    .about3{
        width: 80%;
    }
    .work-experience p{
        font-size: 14px;
    }
    .work-experience h4{
        padding-top: 10px;
    }
    .date{
        color: #525252;
        padding-bottom: 5px;
    }
    .tech{
        font-weight: 600;
    }
    /* CONTACT PAGE */
    .contact-page{
        margin: 15px 35px 25px;
    }
    .contact-name{
        font-size: 50px;
    }
    .contact-menu{
        display: flex;
        gap: 30px;
    }
    .contact-menu a{
        font-size: 30px;
        text-decoration: none;
        color: #000000;
    }
    .lower-contact{
        display: flex;
        justify-content: center;
    }
    .contact-information, .contact-form{
        width: 100%;
    }
    .contact-information{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .contact-information label{
        font-size: 14px;
        font-weight: 500;
        color: #525252;
    }
    .contact-information p{
        font-size: 16px;
        color: #000000;
    }
    .contact-form h3{
        padding-bottom: 15px;
    }
    .contact-form label{
        font-size: 14px;
        color: #000000;
    }
    form{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    form .header{
        width: 60%;
    }
    form button{
        font-size: 16px;
        width: 60%;
        height: 35px;
        background: none;
        cursor: pointer;
        border-radius: 5px;
        border: 1px solid #525252;
    }
    form input{
        font-size: 14px;
        color: #525252;
        width: 60%;
        padding-left: 10px;
        height: 30px;
        border: none;
        border-bottom: 1px solid #525252;
    }
    form textarea{
        font-size: 14px;
        color: #525252;
        width: 60%;
        height: 100px;
        border: none;
        border-bottom: 1px solid #525252;
    }

    /* PROJECT PART */
    .project-page{
        margin: 15px 35px 25px;
    }
    .project-name{
        font-size: 50px;
    }
    .lower-project{
        display: flex;
        flex-direction: column;
    }
    .upper-img img{
        border-radius: 5px;
        width: 100%;
    }
    .lower-img img{
        border-radius: 5px;
        width: 100%;
    }
    .lower-img, .upper-img{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    /* SERVICE PART */
    .service-page{
        margin: 15px 35px 25px;
    }
    .service-name{
        font-size: 50px;
    }
    .lower-service{
        display: flex;
        flex-direction: column;
    }
    .service-web-design,.service-web-dev,.service-video-editor{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 10px;
    }
    .back-gray{
        background-color: #f1f1f1;
    }
    .service-title{
        padding: 25px;
        width: 40%;
        line-height: 25px;
    }
    .service-img{
        padding: 25px;
        width: 30%;
    }
    .service-img img{
        border-radius: 5px;
        width: 100%;
    }
    .service-description{
        padding: 25px;
        width: 30%;
        font-size: 14px;
    }
    /* FOOTER */
    footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        background: linear-gradient(122deg,#0a0a0a,#0c0c0c,#f5f4f4);
        background-size: 180% 180%;
        animation: gradient-animation 37s ease infinite;
    }
    @keyframes gradient-animation {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
    }
    footer p{
        color: #ffffff;
        font-size: 14px;
    }
}